@charset "utf-8";
/* Assignment 1 | COMP1073 Client-Side JavaScript */

/* Basic reset */
body, h1, p, button {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	background: linear-gradient(135deg, #ece9e6 0%, #ffffff 100%);
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	background-color: #ffffff;
    margin-top: 30px;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
	text-align: center;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

h1{
    font-family: monospace;
    font-size: 40px;
    font-weight: bolder;
    color: #007BFF;
}

h2 {
	margin-bottom: 20px;
	color: #333333e8;
	font-size: 2em;
	font-weight: 600;
}

.buttons {
	margin-bottom: 20px;
}

button {
	background: linear-gradient(135deg, #007BFF 0%, #0056b3 100%);
	color: #fff;
	border: none;
	border-radius: 25px;
	padding: 12px 24px;
	margin: 10px;
	cursor: pointer;
	font-size: 16px;
	transition: background 0.3s ease, transform 0.2s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
	background: linear-gradient(135deg, #0056b3 0%, #003f7f 100%);
	transform: translateY(-2px);
}

button:active {
	transform: translateY(0);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#resetButton {
	background: linear-gradient(135deg, #aa2424 0%, #651d1d 100%);
}

#resetButton:hover {
	background: linear-gradient(135deg, #651d1d 0%, #430c0c 100%);
}

#speakButton {
	background: linear-gradient(135deg, #057605 0%, #0b520b 100%);
}

#speakButton:hover {
	background: linear-gradient(135deg, #0b520b 0%, #073307 100%);
}
